<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Определение жанра литературы</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>Классификация жанра литературного произведения</h1>
    
    <!-- Форма для отправки -->
    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="input-text">Введите текст:</label><br/>
        <textarea id="input-text" name="input_text"></textarea><br/><br/>
        
        <label for="file-input">Или выберите файл:</label><br/>
        <input type="file" id="file-input" name="file_input"><br/><br/>
        
        <button type="submit">Определить жанр</button>
    </form>

    {% if result %}
    <div class="result">
        <p>Предсказанный жанр: {{ result }}</p>
    </div>
    {% endif %}
</div>
</body>
</html>